/* You can add global styles to this file, and also import other style files */
/* styles.css */
/* Dark mode (default) */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #FFF5EE;
  color: #000000;
}

.container {
  display: flex;
  height: 100vh;
}

/* Dark mode */
.dark-mode {
  background: #121212;
  color: #e0e0e0;
}

.dark-mode .editor {
  background: #1e1e1e;
}

.dark-mode textarea {
  background: #2c2c2c;
  color: #F8F8FF;
  border: 1px solid #444;
}

/* Delete Note */
.delete-btn {
  margin-left: 10px;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  color: darkred;
}

.dark-mode button[mat-icon-button] {
  background-color: #2c2c2c;
}

.dark-mode mat-icon {
  color: #e0e0e0; /* ensures icon itself is light */
}

.dark-mode .mobile-footer {
  background: #1e1e1e;   /* dark surface */
}

/* Dark mode toolbar */
.container mat-toolbar.app-header {
  background-color: #FFF5EE;  /* dark background */
}
.container.dark-mode mat-toolbar.app-header {
  background-color: #121212;  /* dark background */
  color: #e0e0e0;             /* light text */
}

/* mat-sidenav background colors */
.container mat-sidenav-container {
  background: #FFF5EE;;  /* dark background */
}

.container.dark-mode mat-sidenav-container {
  background-color: #121212;  /* dark background */
}